@model SongEditViewModel

@{
    ViewBag.Title = "Edit Music";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "noimage.jpg");
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="Edit"
      method="post" class="mt-3">
    <input hidden asp-for="Id"/>
    <input hidden asp-for="ExistingPhotoPath"/>
    <div class="form-group row">
        <label asp-for="Artist" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Artist" class="form-control" placeholder="Artist">
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SongName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SongName" class="form-control" placeholder="Song Name">
            <span asp-validation-for="SongName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="License" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="License" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="License" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input">
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
       <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>



    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="Index2" 
               class="btn btn-primary" >Cancel</a>
        </div>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);

                });
            });
        </script>
    }
</form>