@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You Already Have Permision</h1>
    <h4> The music discovery site for your games and projects</h4>
</div>

