
<h3> Upload Music </h3>

<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" class="custom-file-upload" name="file" />

    <button type="submit" class="btn btn-primary"> Upload File </button>

</form>
